<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>じゃんけん</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Janken GAME!</h1>
  <div th:if="${room}">
    エントリー
    <ul>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>

  <div>
    Hi <span sec:authentication="name"></span>
  </div>


  <a href="/jankengame?hand=Gu">ぐー</a>
  <a href="/jankengame?hand=Tyoki">ちょき</a>
  <a href="/jankengame?hand=Pa">ぱー</a><br>
  <div th:if="${Result}">
    あなたの手 [[${hand}]]<br>
    相手の手 Gu<br>
    結果 [[${Result}]]<br>
  </div>


</body>

</html>
