<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Match</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Match</h1>

  <h1>
    [[${loginUser}]] V.S. [[${user.name}]]
  </h1>

  <div th:if="${user}">
    <a th:href="@{/fight(id=${user.id}, hand='Gu')}">ぐー</a>
    <a th:href="@{/fight(id=${user.id}, hand='Choki')}">ちょき</a>
    <a th:href="@{/fight(id=${user.id}, hand='Pa')}">ぱー</a><br>
  </div>

  <div th:if="${Result}">
    あなたの手 [[${hand}]]<br>
    相手の手 Gu<br>
    結果 [[${Result}]]<br>
  </div>

  <a href="/janken">戻る</a>

</body>

</html>
